#skills img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.skillImg {
  width: 80px;
  transition: transform 0.3s ease;
}

.skillImg:hover {
  transform: scale(1.1);
}

.Skill-title {
  text-decoration: underline;
  text-underline-offset: 10px;
}
